@import "tools";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

// navigation style start here
nav {
  display: flex;
  padding: 32px 9%;
  align-content: center;
  justify-content: space-between;
  .brand {
    flex-basis: 15%;
    z-index: 999;
    .brand-logo {
      width: 100%;

    }
  }
  .mobile-nav-btn {
    font-size: 23px;
    align-self: center;
    z-index: 999;
  }
  .navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 55px;
    text-align: center;
    display: none;
    height: 100%;
    background-color: $sub-bg;
    opacity: 50%;
    .navigation-item{
      padding: 10px 0;
      .navigation-link {
        text-transform: uppercase;
        font-size: 12px;
        font-family: $font;
        font-weight: normal;
        font-style: normal;
        color: $nav-text-color;
        text-decoration: none;

      }
    }
  }
  .show-nav {
    display: block;
    background-color: rgba(0,0,0, 0.97);
    z-index: 998;
    .navigation-item {
      .navigation-link {
        color: white;
      }
    }
  }
  .fa-times {
    color: #FFF;
  }
}
@media all and (min-width:600px) {
  nav {
    .brand {
      flex-basis: 10%;
    }
  }
}
@media all and (min-width:1024px) {
  nav {
    padding-right: 18%;
    .brand {
      flex-basis: 8%;
      display: flex;
      .brand-logo {
        align-self: center;
      }
    }
    .mobile-nav-btn {
      display: none;
    }
    .navigation {
      position: relative;
      flex-basis: 58%;
      display: flex;
      padding-top: 0;
      justify-content: space-between;
      .navigation-item {
        list-style-type: none;
        padding: 3px 0;
        &:hover {
          cursor: pointer;
          border-bottom: 2px solid $nav-text-color;
        }
      }
      .active {
        display: block;
        border-top: 2px solid $nav-text-color;
        border-bottom: 2px solid $nav-text-color;
      }
    }
  }
}
@media all and (min-width:1200px) {
  nav {
    .brand {
      flex-basis: 5%;
    }
  }
}
@media all and (min-width:1800px) {
  nav {
    padding: 32px 34% 32px 25%;
    .navigation {
      flex-basis: 55%;
    }
  }
}
// navigation style end here

// header style start here
header {
  display: flex;
  padding: 12px 9%;
  flex-wrap: wrap;

  .header-nav{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    .header-title {
      font-family: $font;
      font-weight: 700;
      font-style: normal;
      span {
        font-weight: 300;
        color:  $headers-text-color;
      }
    }
    .header-nav-btn-group {
      display: flex;
      width: 120px;
      justify-content: space-between;
      .header-nav-btn {
        width: 53px;
        height: 53px;
        background-color:  $header-btn-bg;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .header-nav-step {
      display: none;
    }
  }
  .header-img {
    flex-basis: 100%;

    img {
      width: 100%;
    }
    .header-img-btn {
      position: relative;
      bottom:  75px;
      left: 0;
      padding: 30px 50px;
      @include btn;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.2em;
      background-color: $light-btn-bg;
      &:hover {
        cursor: pointer;
        background-color:  $dark-btn-bg;
        color: $sub-text-color;
      }

    }
  }
}
@media all and (min-width:1023px) {
  header {
    .header-nav {
      flex-basis: 37%;
      flex-wrap: wrap;
      align-content: center;
      .header-title {
        flex-basis: 100%;
        @include main-header;
        margin-bottom: 90px;
      }
      .header-nav-btn-group {
        flex-basis: 100%;
        justify-content: start;
        margin-bottom: 112px;
        .header-nav-btn {
          margin-right: 10px;
          &:hover {
            cursor: pointer;
            background-color:  $dark-btn-bg;
            color: $sub-text-color;
          }
        }
      }
      .header-nav-step {
        display: block;
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        color: $headers-text-color;
        flex-basis: 50%;
        text-align: justify;
        justify-content: stretch;
      }
    }

    .header-img {
      flex-basis: 63%;
    }
  }
}
@media all and (min-width:1800px) {
  header {
    padding:24px 25%;
  }
}
//header style end here

// article style start here
article {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 9%;
  .company {
    display: flex;
    flex-wrap: wrap;
    background-color:  $sub-bg;
    padding: 30px 5%;
    .images {
      order: 2;
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .company-img {
        flex-basis: 48%;
        img {
          width: 100%;
        }
        &:nth-child(2n){
          margin-top: 30px;
        }
        &:last-child {
          margin-top: -60px;
        }
      }
    }
    .company-info {
      order: 1;
      flex-basis: 100%;
      margin-bottom: 16px;
      .company-info-title {
        font-family: $font;
        color:  $headers-text-color;
      }
      .company-info-description {
        @include p-medium;
        text-align: justify;
        margin: 16px 0;
      }
      .company-info-btn {
        @include btn;
        background-color:  $light-btn-bg;
        padding: 30px 65px;
      }
    }
  }
  .tasks {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    .tasks-title {
      flex-basis: 100%;
      color: $headers-text-color;
      font-family: $font;
    }
    .task-item {
      flex-basis: 100%;
      display: flex;
      padding-top: 16px;
      .task-number {
        font-size: 70px;
        color:  $task-number-color;
        font-family:  $font-task;
        font-weight: 900;
      }
      .task-description {
        flex-basis: 80%;
        margin-left: auto;
        padding-top: 10px;
        text-align: justify;
        @include p-medium;
        br {
          display: none;
        }
      }

    }
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    .projects-title {
      flex-basis: 100%;
      color:  $headers-text-color;
      margin-bottom: 30px;
    }
    .project-item-group {
      display: flex;
      flex-wrap: wrap;
      .projects-item {
        flex-basis: 100%;
        .project-item-title {
          color:  $main-text-color;
          font-size: 18px;
          text-transform: uppercase;
          margin: 10px 0;
          font-family: $font;
          br {
            display: none;
          }
        }
        .project-item-btn {
          @include btn;
          margin-bottom: 32px;
          background-color:  $light-btn-bg;
        }
        img {
          width: 100%;
        }
      }
    }
    .projects-btn {
      margin-left: auto;
      @include btn;
      padding: 30px 40px;
      background-color:  $dark-btn-bg;
      color:  $sub-text-color;
    }
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0;
    justify-content: center;
    .contact-title {
      font-family: $font;
      color:  $headers-text-color;
      margin-bottom: 25px;
      flex-basis: 100%;
      text-align: center;
    }
    .contact-form {
      flex-basis: 100%;
      .feedback-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .feedback-form-item {
          flex-basis: 80%;
          margin: 5px 0;
          outline: none;
          font-family: $font;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          border: none;
          -webkit-appearance: none;
          background-color:  $form-bg;
          color:  $form-text-color;
          padding: 15px 21px;
        }
        .feedback-text {
          height: 150px;
        }
        .feedback-policy {
          flex-basis: 80%
        }
        .feedback-form-btn {
          flex-basis: 80%;
          margin: 10px 0;
          @include btn;
          padding: 30px 45px;
          background-color:  $dark-btn-bg;
          color:  $sub-text-color;

        }
      }
    }
    .contact-img {
      flex-basis: 100%;
      display: none;
      img {
        width: 100%;
      }
    }
  }
}

@media all and (min-width:735px){
  article {
    .company {
      .images {
        .company-img {
          &:last-child {
            margin-top: -80px;
          }
        }
      }
    }
    .tasks {
      justify-content: space-between;
      .task-item {
        flex-basis: 50%;
        .task-description {
          br {
            display: block;
          }
        }
      }

    }
  }
}
@media all and (min-width:1023px) {
  article {
    .projects {
      .project-item-group {
        justify-content: space-between;
        .projects-item {
          flex-basis: 49%;
          img {
            height: 250px;
          }
        }
      }
      .projects-btn {
        height: 65px;
        align-self: flex-end;
      }
    }
    .contact {
      .contact-title {
        text-align: left;
        @include secondary-headers;
      }
      .contact-form {
        flex-basis: 40%;
        .feedback-form {
          padding-right: 5%;
          .feedback-form-item {
            flex-basis: 100%;
          }
          .feedback-policy {
            flex-basis: 100%;
          }
          .feedback-form-btn {
            margin-right: auto;
          }
        }
      }
      .contact-img {
        flex-basis: 60%;
        height: 62%;
        display: flex;
      }
    }

  }
}
@media all and (min-width:1200px) {
  article {
    .company {
      .images {
        order: 1;
        flex-basis: 60%;
      }
      .company-info {
        order: 2;
        flex-basis: 40%;
        padding-left: 30px;
        .company-info-title {
          @include secondary-headers;
        }
      }
      .company-info-btn {
        &:hover {
          cursor: pointer;
          background-color:  $dark-btn-bg;
          color: $sub-text-color;
        }
      }
    }
    .tasks {
      .tasks-title {
        @include secondary-headers;
      }
      .task-item {
        .task-number {
          font-size: 200px;
        }
        .task-description {
          flex-basis: 75%;
          padding-top: 40px;
          @include p-large;
        }
      }
    }
    .projects {
      .projects-title {
        @include secondary-headers;
      }
     .project-item-group {
       .projects-item {
         position: relative;
         margin-bottom: 30px;
         &:nth-child(3n){
           flex-basis: 25%;
         }
         &:nth-child(4n){
           flex-basis: 45%;
         }
         &:last-child {
          flex-basis: 25%;
         }
         .project-item-title {
           @include secondary-headers;
           font-weight: 700;
           font-size: 45px;
           color: $sub-text-color;

           br {
             display: block;
           }
         }
         .project-item-btn {
           color: $sub-text-color;
           background-color: transparent;
           &:hover {
             cursor: pointer;
           }
         }
         .shadow {
           display: none;
           background-color: rgba(0, 0, 0, 0.5);
           width: 100%;
           height: 100%;
           position: absolute;
           top: 0;
           left: 0;
           padding: 29px 10%;

         }
         &:hover {
           cursor: pointer;
           .shadow {
             display: block;
           }
         }
       }
     }
      .projects-btn {
        &:hover {
          cursor: pointer;
          background-color:  $form-text-color;
          color:  $main-text-color;
        }
      }
    }
    .contact {
      .contact-form {
        .feedback-form {
          .feedback-form-btn {
            &:hover {
              cursor: pointer;
              background-color:  $form-bg;
              color: $form-text-color;
            }
          }
        }
      }
    }
  }
}
@media all and (min-width:1800px) {
  article {
    padding: 20px 22% 150px;
   .company {
     .company-info {
       .company-info-description {
         @include p-large;
       }
     }
   }
  }
}
// article style end here
// footer style start here
footer {
  display: flex;
  flex-wrap: wrap;
  background-color:  $footer-bg;
  padding: 58px 9% 0;
  justify-content: space-between;
  .footer-brand {
    order: 1;
    flex-basis: 30%;
    .footer-brand-logo {
      width: 100%;
    }
  }
  .footer-info {
    order: 3;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    .footer-info-title {
      color:  $sub-text-color;
      font-family:  $font;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
    }
    .footer-info-list {
      .footer-info-list-item {
        list-style-type: none;
        .footer-info-list-link{
          font-family:  $font;
          font-size: 16px;
          line-height: 20px;
          color:  $sub-text-color;
          text-decoration: none;
        }
      }
    }
  }
  .footer-contact-info{
    flex-basis: 50%;
    order: 4;
    color:  $sub-text-color;
    margin-top: 16px;

    .footer-contact-info-title {
      font-size: 16px;
      line-height: 20px;
      font-family: $font;
      margin-bottom: 10px;
    }
  }
  .footer-social-networks {
    order: 2;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-basis: 50%;
    .footer-social-networks-title {
      color:  $sub-text-color;
      font-size: 16px;
      line-height: 20px;
      font-family: $font;
    }
    .social-networks-list {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      .social-networks-list-item {
        list-style-type: none;
        .social-networks-list-item-link {
          color:  $sub-text-color;
        }
      }
    }
  }
  .copy {
    order: 5;
    flex-basis: 100%;
    border-top: 1px solid #C8C8C8;
    margin-top: 30px;
    padding: 25px 0;
    p {
      color: #C8C8C8;
      opacity: 0.5;
    }
  }
}

@media all and (min-width:1023px) {
  footer {
    justify-content: space-between;
    .footer-brand {
      order: 1;
      flex-basis: 15%;
    }
    .footer-info {
      order: 2;
      flex-basis: 20%;
      padding-left: 15px;
      margin-top: 0;
      .footer-info-list {
        .footer-info-list-item {
          margin: 8px 0;
        }
      }
    }
    .footer-contact-info {
      order: 3;
      flex-basis: 30%;
      margin-top: 0;
      .footer-contact-info-item {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .footer-social-networks {
      order: 4;
      flex-basis: 25%;
      height: 70px;
      justify-content: flex-start;
      .social-networks-list {
        justify-content: flex-start;
        .social-networks-list-item {
          margin-right: 40px;
        }
      }
    }
    .copy {
      text-align: center;
    }
  }
}

//footer style end here

